# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Probability-Distribution.iml
# Datasource local storage ignored files
/../../../../../../:\Projects\Probability-Distribution\.idea\.idea.Probability-Distribution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
